@using Oficina.WebPages;

@{ 
    var _veiculoAplicacao = new VeiculoAplicacao();

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Veiculos</title>

    <style>
        label {
            min-width: 100px;
            display: inline-block;
        }

        input, select {
            min-width: 200px;
            min-height: 24px;
            margin-bottom: 5px;
        }

            input[type=submit] {
                width: 300px;
            }


            /*pegar apenas uma div para fazer object CSS*/
        #mensagemErro {
            heigth: 40px;
            background-color: #dc3545;
            margin-bottom: 10px;
            color: white;
            text-align: center;
            vertical-align: middle;
            line-height: 40px;

        }
    </style>

</head>
<body onload="exibirMensagem()">
    <div>
    <h1> Cadastro de veiculos </h1>
        <hr />

        @{ 
            if (IsPost)
            {
                try
                {
                    _veiculoAplicacao.Inserir();

                    //QueryString.
                    Response.Redirect("Veiculo?mensagem=Veiculo gravado com sucesso!");

                }
                catch
                {
                    //mensagem que vem no catch em caso de erro. ( isso serve para aparecer na tela ).
                    <div id="mensagemErro">@HttpContext.Current.Items["MessagemErro"]</div>
                }
            }
        }

        <hr/>
        <form method="post">

            <label for="marca">Marca</label>
            <select name="marca" id="marca" onchange="obterModelos(this.value)">
                <option value="">Selecione</option>
                @foreach (var marca in _veiculoAplicacao.Marcas)
                {
                    <option value="@marca.Id" selected="@Convert.ToBoolean(marca.Id.ToString() == _veiculoAplicacao.MarcaSelecionada)">@marca.Nome</option>
                }

            </select>
            <br/>
                <label for="modelo">Modelo</label>
                <select name="modelo" id="modelo">
                    <option value="">Selecione</option>
                    @foreach (var modelo in _veiculoAplicacao.Modelos)
                    {
                        <option value="@modelo.Id">@modelo.Nome</option>
                    }

                </select>
                <br />

            @*deixar o campo com a informação preenchida. Resquest.Form*@
            <label for="placa">Placa</label>
            <input type="text" name="placa" id="placa" value="@Request.Form["placa"]"/>
               <br />

            
            <label for="ano">Ano</label>
            <input type="text" name="ano" id="ano" value="@Request.Form["ano"]" />
            <br />

            <label for="cor">Cor</label>
            <select name="cor" id="cor">
                <option value="">Selecione</option>
                @foreach (var cor in _veiculoAplicacao.Cores)
                {
                   <option value="@cor.Id" selected="@Convert.ToBoolean(cor.Id.ToString() == Request.Form["cor"])"> @cor.Nome</option>
                }
            </select>
            <br />

            <label for="combustivel">Combustivel</label>
            <select name="combustivel" id="combustivel">
                <option value="">Selecione</option>
                @foreach (var combustivel in _veiculoAplicacao.Combustiveis)
                {
                    <option value="@((int)combustivel)">@combustivel</option>
                }
            </select>
            <br />
            <label for="cambio">Cambio</label>
            <select name="cambio" id="cambio">
                <option value="">Selecione</option>
                @foreach (var cambio in _veiculoAplicacao.Cambios)
                {
                    <option value="@((int)cambio)">@cambio</option>
                }
            </select>
            <br />

            <label for="observacao"> Observação</label>
                <br/>
            
            <textarea name="observacao" id="observacao" rows="10" cols="40"></textarea>

            <br />

            <input type="submit" value="Gravar" />
</form>
        <script type="text/javascript">

            function obterModelos(marcaId) {

                //trocando a HRL dentro do servidor.
                const
                    nomePagina = document.location.pathname;
                document.location.href = nomePagina + "?marcaId=" + marcaId;


            }

            function exibirMensagem() {

                const params = (new URL(document.location)).searchParams;
                const mensagem = params.get("mensagem");

                if (mensagem) {

                    alert(mensagem);

                    //limpar
                    document.location.href = "Veiculo";

                }
            }

        </script>

    </div>
</body>
</html>
